<div class="ingredient-detail">
  <h3>{{ingredient.name}}</h3>
  <h4 class="uppercased">{{ingredient.dosage}}</h4>
  <p>
    {{inline-svg "/assets/icons/bullet-point.svg"}}
    {{ingredient.origin}}
  </p>
</div>
<div class="ingredient-detail-fetch">
  {{inline-svg "/assets/icons/arrow.svg"}}
</div>
