<div class="ingredient-detail">
  <section class="info-details main-section">
    <header class="ingredient-header">
      <h2>{{model.name}}</h2>
      <p class="soft-blue ingredient-subheader">
        <i>{{model.dosage}}</i>
      </p>
    </header>
    {{#if model.image}}
      <section class="ingredient-image-section">
        <img src={{model.image}} alt={{model.name}}>
      </section>
    {{/if}}
  </section>

  <section class="info-details general-info">
    <h4 class="soft-blue">
      <span class="uppercased">
        form: {{model.syntheticForm}}
      </span>
    </h4>
    <h4 class="soft-blue">
      <span class="uppercased">
        dosage: {{model.dosage}}
      </span>
    </h4>
    <h4 class="soft-blue">
      <span class="uppercased">
        source:
      </span>
      {{model.origin}}
    </h4>
    <h4 class="soft-blue">
      <span class="uppercased">
        manufacturer:
      </span>
      {{model.manufacturer}}
    </h4>
  </section>
  <hr class="divider">

  <section class="info-details benefits-section">
    <ul class="info-benefits-list">
      {{#each model.benefits as |benefit|}}
      <li class="info-benefits-list-item">
        <p>{{inline-svg benefit.icon}}</p>
        <h4 class="uppercased soft-blue">{{benefit.benefit}}</h4>
      </li>
      {{/each}}
    </ul>
  </section>
  <hr class="divider">

  <section class="info-details natural-sources-section">
    <h4 class="uppercased soft-blue">found in</h4>
    <p class="soft-blue natural-sources-subheader">
      {{#each model.naturalSources as |naturalSource|}}
        <i>{{naturalSource}}</i>,
      {{/each}}
    </p>
  </section>
</div>
