<form class="new-ingredient-form">
  <div class="input-group">
    <div class="input-label">
      <h4>Ingredient Name:</h4>
    </div>
    <div class="input-value">
      {{input value=model.name class="form-input" }}
    </div>
  </div>
  <div class="input-group">
    <div class="input-label">
      <h4>Dosage:</h4>
    </div>
    <div class="input-value">
      {{input value=model.dosage class="form-input" }}
    </div>
  </div>
  <div class="input-group">
    <div class="input-label">
      <h4>Form:</h4>
    </div>
    <div class="input-value">
      {{input value=model.syntheticForm class="form-input" }}
    </div>
  </div>
  <div class="input-group">
    <div class="input-label">
      <h4>Source:</h4>
    </div>
    <div class="input-value">
      {{input value=model.origin class="form-input" }}
    </div>
  </div>
  <div class="input-group">
    <div class="input-label">
      <h4>Manufacturer:</h4>
    </div>
    <div class="input-value">
      {{input value=model.manufacturer class="form-input" }}
    </div>
  </div>
  <div class="input-group">
    <div class="input-label">
      <h4>Found In:</h4>
    </div>
    <div class="input-value">
      {{input value=model.naturalSources class="form-input" }}
    </div>
  </div>
  <div class="form-submit">
    <button {{action 'submit' }} class="button">Save</button>
  </div>
</form>
